/* center para criar um recipiente para centralizar o conteúdo */
.center {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.centerTxt {
	text-align: center;
}

.center2 {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

div.menu {
	color: #666666;
	font-size: 18px;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	border-radius: 15px;
	padding: 3px;
	margin-top: 25px;
}

/* para quebrar linha em div, usado na separação do resultado de imagens */
.corte {
	z-index: -1;
	opacity: 0.1;
	margin: 50%;
	display: inline;
}

/* estilizando miniaturas dos botões */
img.texto {
	position: relative;
	top: 7px;
	width: 60px;
	height: 25px;
	background: url(imagens/miniaturas2.png) 0px 0px;
}

img.texto:hover {
	top: 5px;
	background: url(imagens/miniaturas2.png) 0px 28px;
}

img.imagem {
	position: relative;
	top: 7px;
	width: 30px;
	height: 30px;
	background: url(imagens/miniaturas2.png) 30px 0px;
}

img.imagem:hover {
	top: 3px;
	background: url(imagens/miniaturas2.png) 30px 29px;
}

span.score {
	color: navy;
	line-height: 30px;
}

/* Estilizando o formulário de inserção de imagens */
#upForm {
	text-align: center;
}

/* Menu principal */
#listaPrincipal {
	text-shadow: silver;
	list-style: none;
	padding-bottom: 70px; /* Força Quebra de linha */
}

#listaPrincipal li {
	padding: 5px;
	height: 40px;
	border-radius: 15px;
	-moz-border-radius: 15px; /* Firefox 3.6 and earlier */
	border: 2px outset #d2d2d2;
	margin: 10px;
	display: block;
	float: left;
	/*background-color: #254565;*/
	background-image: url(imagens/botao.jpg);
	text-align: right;
	line-height: 40px; /* Centraliza o texto verticalmente */
}

#listaPrincipal li:hover {
	border-style: inset;
}

#upInfo {
	text-align: center;
	outline: blue;
	color: black;
	border: 1px solid silver;
	border-style: outset;
}

h1 {
	font: bold 30px Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #E6E8ED;
}

a:link {
	text-decoration: none;
}/* unvisited link */
a:visited {
	color: navy;
	text-decoration: none;
}/* visited link */
a:hover {
	text-decoration: underline;
}/* mouse over link */
a:active {
	text-decoration: underline;
}/* selected link */

h1 {
	text-shadow: blue;
	text-decoration: none;
	text-align: center;
}

.resizeble {
	border: 2px solid;
	resize: both;
	overflow: auto;
}

div.imageView {
	border-radius: 15px;
	background: #EAEAEA;
	padding: 5px;
	color: navy;
	height: auto;
	width: auto;
	float: right;
	text-align: center;
}

div.imageView:hover {
/*	background-color: none;*/
}

div.imageView img {
	max-width: 28%;
	max-height: 75%;
	position: fixed;
	right: 0px;
/*	display: inline;*/

	border: 1px solid #ffffff;
	/*transition: max-height 1s;
	/*-moz-transition: max-height 1s; /* Firefox 4 */
	/*-webkit-transition: max-height 1s; /* Safari and Chrome */
	/*-o-transition: max-height 1s; /* Opera */
	/*transition: max-width 1s;
	/*-moz-transition: max-width 1s; /* Firefox 4 */
	/*-webkit-transition: max-width 1s; /* Safari and Chrome */
	/*-o-transition: max-width 1s; /* Opera */
}
div.imageView img:hover {
/*	max-width: 60%;*/
/*	max-height: 100%;*/
	border: 5px inset #0000ff;
}

div.img {
	margin: 0px;
	/*border: 1px inset red;*/
	height: auto;
	margin-left: 10px;
	/*padding-bottom: 20px;*/
	width: auto;
	float: left;
	text-align: center;
	resize: both;
}

div.img:hover {
/*	max-width: 60%;*/
}
div.img img {
	display: inline;
	max-height: 250px;
	max-width: 250px;
	margin: 0px;
	border: 1px solid #ffffff;
	transition: max-height 1s;
	-moz-transition: max-height 1s; /* Firefox 4 */
	-webkit-transition: max-height 1s; /* Safari and Chrome */
	-o-transition: max-height 1s; /* Opera */
	transition: max-width 1s;
	-moz-transition: max-width 1s; /* Firefox 4 */
	-webkit-transition: max-width 1s; /* Safari and Chrome */
	-o-transition: max-width 1s; /* Opera */
}
/*
div.img a:hover img {
	width: 100%;
	height: 100%;
	max-width: 300px;
	max-height: 100%;
	border: 5px inset #0000ff;
}*/

div.desc {
	/*visibility: hidden;*/
	z-index: +1;
	opacity: 0.7;
	position: relative;
	background: #ccccFF;
	text-align: center;
	/*position: inherit;*/
	font-weight: normal;
	margin: 0px;
}
div.linha {
	padding-top : 5px;
	padding-left: 15px;
	border-radius: 15px;
	border-bottom: 5px inset #123456;
	background: #E0E0E0;
	/*background: green;*/
	
	display: block;
/*	margin: 20px;*/
/*	padding-left: 200px;*/
	/*min-height: 200px;*/
	height: auto;
	transition: padding-left 1s;
	-moz-transition: padding-left 1s; /* Firefox 4 */
	-webkit-transition: padding-left 1s; /* Safari and Chrome */
	-o-transition: padding-left 1s; /* Opera */
}
div.linha:hover {
	height: auto;
/*	padding-left: 0px;*/
	transition: padding-left 1s;
	-moz-transition: padding-left 1s; /* Firefox 4 */
	-webkit-transition: padding-left 1s; /* Safari and Chrome */
	-o-transition: padding-left 1s; /* Opera */
}

.resultado {
	text-decoration: blink;
	color: blue;
}

p.destaque {
	margin-left: auto;
	margin-right: auto;
	width:80%;
	padding: 10px;
	background: #C4C3C2;
	border-radius: 15px;
	opacity: 0.8;
	font-weight: bold;
}

p.destaque span {
	text-decoration: underline;
	color: #123456;
	font-variant: small-caps;
}
